CompileFlags:
  CompilationDatabase: build
  Add:
    - -I/home/llx-wsl/acm/Ticket-System-2026/includes 

Diagnostics:
  ClangTidy:
    Add:
      - google-explicit-constructor
      - bugprone-*
      - performance-*
      - modernize-*
    Remove:
      - modernize-use-trailing-return-type
      - modernize-avoid-c-arrays
      - bugprone-easily-swappable-parameters